# Node modules
node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Docker (optional)
*.tar